.container {
    /*display grid*/
    display: grid;
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 0px;

    /*setup rows and columns*/
    grid-template-columns: 850px;
    grid-template-rows: 100px 800px 1fr;
    grid-template-areas:
        "hd "
        "sd"
        "main "
        "ft";
    border: 0px solid rebeccapurple;
}
